<template>
    <div class="overflow-hidden overflow-x-auto min-w-full aglin-middle sm:rounded-md">
        <div class="flex place-content-end mb-4">
            <dix class="px-4 py-2 text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                <router-link :to="{name:'companies.create'}" class="text-sm font-medium">Create Companies</router-link>
            </dix>
        </div>
        <table class="min-w-full border divide-y divide-gray-200">
            <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50">
                    <span class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">name</span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">email</span>

                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">address</span>

                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">website</span>

                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Action</span>

                </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 divide-solid text-center">
            <template v-for="item in companies" :key="item.id">
                <tr>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.name }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.email }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.address }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.website }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        <router-link :to="{name:'companies.edit',params:{id:item.id} }"
                                     class="mr-2 inline-flex items-center px-4 bg-blue-800 border border-transparent
                     border-rounded text-white transition ease-in-out duration-150 rounded-md">Edit</router-link>
                    <button class="inline-flex items-center px-4 bg-red-800 border rounded-md border-transparent
                     border-rounded text-white transition ease-in-out duration-150"
                            @click="deleteCompany(item.id)">Delete</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import useCompanies from "../../composable/componies";
import {onMounted} from "vue";

export default {
    name: "CompaniesIndex",
    setup() {
        const {companies, getCompanies, destroyCompanies} = useCompanies()
        onMounted(getCompanies)
        const deleteCompany = async (id) => {
            if (! window.confirm('Are You Sure ?')){
                return;
            }
            await destroyCompanies(id);
            await getCompanies();

        }
        return {
            companies,
            deleteCompany
        }
    }
}
</script>

<style scoped>

</style>
