<template>
    <form @submit.prevent="saveCompany" class="space-y-6">
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input type="text" name="name" id="name"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="form.name">
                    <span class="text-sm text-red-500" v-if="errors['name']">{{errors['name'][0]}}</span>
                </div>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">email</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="form.email">
                    <span class="text-sm text-red-500" v-if="errors['email']">{{errors['email'][0]}}</span>
                </div>
            </div>
            <div>
                <label for="address" class="block text-sm font-medium text-gray-700">address</label>
                <div class="mt-1">
                    <input type="text" name="address" id="address"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="form.address">
                    <span class="text-sm text-red-500" v-if="errors['address']">{{errors['address'][0]}}</span>
                </div>
            </div>
            <div>
                <label for="website" class="block text-sm font-medium text-gray-700">website</label>
                <div class="mt-1">
                    <input type="text" name="website" id="website"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="form.website">
                    <span class="text-sm text-red-500" v-if="errors['website']">{{errors['website'][0]}}</span>
                </div>
            </div>
        </div>
        <button type="submit" class="inline-flex items-center px-4 py-3 text-sm font-semibold bg-green-500 text-white hover:bg-green-900 tracking-widest">Create</button>
    </form>
</template>

<script>
import {reactive} from "vue";
import useCompanies from "../../composable/componies";

export default {
    name: "CompaniesCreate",
    setup() {
        const form = reactive({
            'name': '',
            'email': '',
            'address': '',
            'website': '',
        })
        const {errors,storeCompanies} = useCompanies();
        const saveCompany = async () => {
            await storeCompanies({...form})
        }
        return {
            form,
            errors,
            saveCompany
        }
    }
}
</script>

<style scoped>

</style>
