<template>
    <form @submit.prevent="saveCompany" class="space-y-6">
        <div class="text-red-500" v-if="errors !==''">{{errors}}</div>
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input type="text" name="name" id="name"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                            v-model="company.name">
                </div>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">email</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="company.email">
                </div>
            </div>
            <div>
                <label for="address" class="block text-sm font-medium text-gray-700">address</label>
                <div class="mt-1">
                    <input type="text" name="address" id="address"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="company.address">
                </div>
            </div>
            <div>
                <label for="website" class="block text-sm font-medium text-gray-700">website</label>
                <div class="mt-1">
                    <input type="text" name="website" id="website"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500"
                           v-model="company.website">
                </div>
            </div>

        <button type="submit"
                class="inline-flex items-center px-4 py-3 text-sm font-semibold bg-green-500 text-white hover:bg-green-900 tracking-widest">
            Create
        </button>
        </div>
    </form>
</template>

<script>
import {onMounted} from "vue";
import useCompanies from "../../composable/componies";

 export default {
     props: {
         id: {
             required: true,
             type: String
         }
     },
     name: "CompaniesEdit",
     setup(props) {

         const {company, getCompany,updateCompany,errors} = useCompanies();
         onMounted(getCompany(props.id))
        const saveCompany = async () => {
          await updateCompany(props.id)
        }
         return {
             company,
            saveCompany,
             errors
         }
     }
}
</script>
